<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.testingtech.ttworkbench.play.dashboard.widget">
      <widget
            class="ttworkbench.play.widget.car.ui.CarWidgetFactory"
            clf="configuration/main.clf"
            description="The widget creates a car simulation interface showing also obstacles observed along the given route"
            icon="icons/widget.png"
            name="ITS Car Simulation"
            runtime-plugin="ttworkbench.play.widget.car.rt">
      </widget>
   </extension>

</plugin>
