<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.testingtech.ttworkbench.play.dashboard.widget">
      <widget
            class="ttworkbench.play.widget.car.ui.CarWidgetFactory"
            clf="configuration/HANDLE_API.clf"
            description="..."
            icon="icons/widget.png"
            name="Car"
            runtime-plugin="ttworkbench.play.widget.car.rt">
      </widget>
   </extension>

</plugin>
